$variant: 'dark';

@import "gnome-shell-3.38-sass/_high-contrast-colors"; //use gtk colors
@import "gnome-shell-3.38-sass/_drawing";
@import "gnome-shell-3.38-sass/_common";
@import "gnome-shell-3.38-sass/_widgets";

//force symbolic icons
stage {
	-st-icon-style: symbolic;
}

.toggle-switch { width: 48px; }
.toggle-switch-us, .toggle-switch-intl {
	background-image: url("resource:///org/gnome/shell/theme/toggle-off-hc.svg");
	&:checked { background-image: url("resource:///org/gnome/shell/theme/toggle-on-hc.svg"); }
}
